/* Styles for Epsilon Assignment */
body {
    font-family: 'Source Sans Pro';
}

h1 {
    font-weight: 700;
    text-align: center;
}

/* Part 1 Styles */

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

.card {
    width: 290px;
    margin: 0;
    padding: 0;
    box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.3s;
    border-radius: 1px;
}

.card:hover {
    box-shadow: 0 3px 18px 0 rgba(0, 0, 0, 0.6);
}

.thumb {
    background-image: url(../img/dog.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 290px;
    border-radius: 1px 1px 0 0;
}

.card-container {
    flex-direction: column;
    margin: 0;
    padding: 0 16px;
}

.card-container h2 {
    color: #0f5ef0;
    font-size: 15px;
    font-weight: 600;
    margin-top: 20px;
    margin-bottom: 18px;
}

.card-container h3 {
    color: #7a8594;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    margin-top: 18px;
    margin-bottom: 20px;
}

.card-container p {
    color: #7a8594;
    font-size: 12px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 14px;
}

.spacer::after {
    content: '';
    display: block;
    margin: 90px 0;
}

/* Part 2 Styles */

.container form {
    width: 25%;
    margin: 0 40px;
}

.form-control {
    display: flex;
    flex-direction: column;
    margin: 24px 0;
}

.form-control:first-child {
    margin-top: 40px;
}

.form-control:last-child {
    margin-top: 32px;
}

.form-control label {
    color: #1a1a1a;
    font-size: 14px;
    font-weight: 400;
    margin: 4px 0;
}

input, input::placeholder {
    color: #737373;
    font-size: 14px;
    font-weight: 400;
}

input[type="text"], input[type="email"],
input[type="tel"], input[type="password"] {
    line-height: 34px;
    padding: 0 4px;
    margin: 0;
    border: 1px solid #737373;
    border-radius: 4px;
}

input[type="submit"] {
    height: 36px;
    background-color: #0063e6;
    color: #ffffff;
    border: none;
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 0;
}

input[type="submit"]:hover {
    background-color: #f0f6ff;
    color: #333333;
    cursor: pointer;
}

/* Part 3 Styles */

.table-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
}

table, th, td {
    border-spacing: 0;
}

thead {
    color: #ffffff;
    background-color: #0063e6;
    font-size: 14px;
    font-weight: 700;
}

thead:hover {
    color: #333333;
    background-color: #f0f6ff;
}

th, tr {
    text-align: left;
}

th {
    cursor: pointer;
}

tbody {
    color: #666666;
    font-size: 14px;
    font-weight: 400;
}

th, td {
    padding: 14px 24px 13px 24px;
}

tr:nth-child(even) {
    background-color: #F7F7F7;
}

tbody tr:hover {
    background-color: #f0f6ff;
}